body{
    background-color:aqua; 
}
.title{
    padding-bottom: 40px;
    padding-top: 20px;
    font-family:'Berkshire Swash', cursive;
}
#showTime{
    font-size:45px; 
    letter-spacing: 4px;

}

.container{
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border-radius:18px ; 
    background-color:white; 
}
.button{
    height: 40px;
    width: 80px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-top:40px;
    margin-bottom:20px;
    margin-left: 10px;
    box-shadow: 6px 6px 6px gray;
    background-color:aquamarine;  
    cursor: pointer;
    font-family: 'Berkshire Swash', cursive;
    font-size: 16px; 
    
}
.button:active{
    height: 43px;
    width: 82px;
    background-color:green
}