#title{
    font-size: 22px;
    text-align: center;
    margin-top:60px; 
}
/* /Form */

body{
    background-color: darkturquoise;
    font-family: 'Courgette', cursive;
}
#userName{
    background-color:white;
    margin-top: 10%; margin-right: 35%;margin-left: 35%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
img{
    width: 100px; height:100px;
    margin-top: 10%;
}
#intro{
    color: grey;
    font-size:30px;
}
.icons{
    width:50px; height: 50px;
}
.line_1,.line_2{
    margin-left: 8%;
}
#UsernameX,#UsernameO{
    margin-left: 3%;padding: 3%;
    border: none; border-bottom: 2px solid darkturquoise;
    font-size: 16px; font-weight: bold;
    color: darkgray;
    outline: none;
}
input:focus{
    color: black;
}
#login{
    margin-top:10%; margin-left: 5%; margin-right: 4%;
    padding: 3%;
    width: 340px;
    color: white; background-color:darkturquoise; 
    border-radius: 8px; 
}
#login:hover{
    box-shadow: 7px 7px 7px gray
}
#login:active{
    box-shadow: 7px 7 px 7px gray; background-color: lightgreen;
}

/******************/
.palyingField{
    display:none;
}

#status{
    font-size: 30px;
    color:rgb(15, 101, 129);
    margin-top: 6%
}
 #playerNameX{
    font-size: 35px;
    color: green;
    position: relative;
}
#playerNameO{
    font-size: 35px;
    color: red;
    position: relative;
} 
#scoreX ,#scoreO{
    font-size: 30px;
    font-weight: bold;
}
table{
   border-radius: 8px solid white;
   border-collapse: collapse;
} 
td{
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    font-size: 45px;
    width: 84px;
    height: 68px;
    cursor: pointer;
    font-weight: bold;
}
td:hover{
    background-color: rgb(211, 211, 211);
}

 #restartBtn{
    margin-top:2%;
    margin-left: 42%;
    margin-right: 50%;
    width:200px;
    height: 30px;
    border-radius: 12px;
    box-shadow: 6px 6px 6px gray;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: cyan

}
#restartBtn:active{
    background-color: lightgreen;
    width:205px;
    height: 45px;
}

#player1{
    display: inline;
    margin-top: 20%;
}

